#sem{
    background-color: rgb(71, 164, 245);
    font-size: 20px;
    color: black;
    border-radius: 10px;
}
h1{
    background-color: aqua;
    color: black;
    font-size: 15px;
}
h2{
    background-color: rgb(167, 231, 196);
    color: darkcyan;
}